<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22660598492-2ji5obpip5ar2noq5l2s28tcld47hp3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22660598492-2ji5obpip5ar2noq5l2s28tcld47hp3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDaxYxZ3GfF0Q-zLXwwV1mB-LwEfBntrsE</string>
	<key>GCM_SENDER_ID</key>
	<string>22660598492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curiousIfsp</string>
	<key>PROJECT_ID</key>
	<string>curious-ifsp</string>
	<key>STORAGE_BUCKET</key>
	<string>curious-ifsp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22660598492:ios:0d26dfa254deff454fc219</string>
</dict>
</plist>